@font-face {
	font-family: "Source Sans 3";
	src: url("Source_Sans_3/SourceSans3-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	/* layout */
	margin: 0;
	padding: 0;
	margin-inline: auto;

	/* typography */
	font-family: "Source Sans 3", sans-serif;
	font-size: 0.75rem;
	width: min(100%, 23.4375rem);
}
/* common layout */
.flex-with-gap {
	display: flex;
	gap: 0.33em;
}

/* Typography */

.post-header h2,
.post-header p {
	margin: 0;
}

.post-header h2 {
	font-weight: 700;
	font-size: inherit;
}

.post-header p {
	font-weight: 400;
}
/* Layout */

.header {
	/* layout */
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* styling */
	border-bottom: 1px solid #c6c6c6;
}

.logo {
	width: 8.125rem;
	height: 3.125rem;
}

/* POSTS */
.post ~ .post {
	border-top: 0.5em solid #edecec;
}

.post-img {
	max-width: 100%;
	cursor: pointer;
}

/* ICONS and IMAGES */
.avatar {
	width: 2.1875rem;
	height: 2.1875rem;
	border-radius: 50%;
	overflow: hidden;
}

.icons {
	margin-top: 0.625rem;
}

.icon {
	height: 1.5rem;

	/* interactivity */
	transition: opacity .25s ease-in-out;
	cursor: pointer;
}

.icon:focus,
.icon:hover {
	opacity: 0.4;
}

.padding-small {
	padding: 0.625rem;
}

.post-paragraph {
	margin: 0.625rem 0;
	padding-left: 0.625rem;
}
